/* https://www.w3schools.com/howto/howto_css_toggle.asp */

/* The toggle - the box around the slider */
.toggle {
    position: relative;
    display: inline-block;
    width: 6em;
    height: 3.4em;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d9534f;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 3.4em;
}

.slider:before {
    position: absolute;
    content: "";
    height: 2.6em;
    width: 2.6em;
    left: 0.4em;
    bottom: 0.4em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.toggle.on .slider {
    background-color: #5cb85c;
}

.toggle.on .slider:before {
    -webkit-transform: translateX(2.6em);
    -ms-transform: translateX(2.6em);
    transform: translateX(2.6em);
}