{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <title>{{ template "title" . }}</title>

    <!-- Astitools -->
    <link rel="stylesheet" href="/static/lib/astiloader/astiloader.css"/>
    <link rel="stylesheet" href="/static/lib/astimodaler/astimodaler.css"/>
    <link rel="stylesheet" href="/static/lib/astinotifier/astinotifier.css"/>

    <!-- Base CSS -->
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/css/color.css"/>
    <link rel="stylesheet" href="/static/css/toggle.css"/>

    <!-- Custom CSS -->
    {{ template "css" . }}
</head>
<body>

    <!-- Base -->
    <div class="table">

        <!-- Header -->
        <div class="row" id="header">

            <!-- Bob -->
            <div class="cell color-bob">
                <a href="/"><h1>Bob</h1></a>
            </div>

            <!-- Buttons -->
            <div class="cell color-header">

            </div>
        </div>

        <!-- Menu + Content -->
        <div class="row">

            <!-- Menu -->
            <div class="cell color-menu" id="menu"></div>

            <!-- Content -->
            <div class="cell" id="content">

                <!-- Custom HTML -->
                {{ template "html" . }}
            </div>
        </div>
    </div>

    <!-- Astitools -->
    <script src="/static/lib/astiloader/astiloader.js"></script>
    <script src="/static/lib/astimodaler/astimodaler.js"></script>
    <script src="/static/lib/astinotifier/astinotifier.js"></script>
    <script src="/static/lib/astitools/astitools.js"></script>
    <script src="/static/lib/astiws/astiws.js"></script>

    <!-- Base JS -->
    <script src="/static/js/consts.js"></script>
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/base.js"></script>

    <!-- Custom JS -->
    {{ template "js" . }}
</body>
</html>
{{ end }}